.h1{
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.p1{
    color: grey;
    margin-top: -20px;
    text-align: center;
    font-size: 15px;
}

.l1{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;

}

.i1{
    height: 30px;
    width: 500px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #0073e5;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

.b1{
    margin-top: 30px;
    height: 45px;
    width: 500px;
    font-size: 15px;
    background-color: #0073e5;
    color: white;
    border-radius: 5px;
    border: 0px solid #560bad;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.b1:hover{
    color: black;
}

.p2{
    text-align: center;
    margin-top: 5px;
    color:grey;
}

.span{
    color: blue;
    cursor: pointer;
}

.h2{
    font-size: 50px;
}

.box1{
    height: 700px;
    width: auto;
    border: 0px solid black;
}


.container{
    background-color:#f5f7ff ;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../images/budget9.jpg'); */
    /* background-size: cover;  */
    background-position: center; 
    background-repeat: no-repeat; 
    width: auto; 
    height: auto;
}