

.h1{
    margin-top: 150px;
    color: black;
}

.p1{
    color: gray;
    text-align: center;
    margin-top: -40px;
}

.l1{
    margin-left: 50px;
    color: black;
}

.i1{
    margin-left: 50px;
    height: 30px;
    width: 400px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #0073e5;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
}

.container{
    /* background-image: url('../images/budget9.jpg'); */
    background-color: #f5f7ff;
    display: flex;
    justify-content: center;
    /* background-size: cover;  */
    background-position: center; 
    background-repeat: no-repeat; 
    width: auto; 
    height: 100vh;
}   


.b1{
    margin-left: 50px;
    margin-top: 30px;
    height: 45px;
    width: 400px;
    font-size: 15px;
    background-color: #0073e5;
    color: white;
    border-radius: 5px;
    border: 0px solid #560bad;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.b1:hover{
    color: black;
}
