

h1{
    font-size: 30px;
    text-align: center;
    /* margin-top: 60px; */
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 255, 0);
}

.p1{
    color: grey;
    margin-top: -20px;
    text-align: center;
    font-size: 15px;
}

.box1{
    margin-top: 20px;
    height: 600px;
    width: 100%;
    border: 2px solid black;
}

.box2{
    margin-top: 20px;
    height: 600px;
    width: 100%;
    border: 2px solid black;
    
    
}

/* .container{
    justify-content: center;
    display: flex;
} */

.container2{
    justify-content: center;
    display: flex;
}

.l1{
    font-size: 15px;
    margin-left: 120px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.i1{
    height: 30px;
    width: 500px;
    margin-left: 120px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.textarea{
    height: 100px;
    width: 500px;
    margin-left: 120px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

.b1{
    margin-top: 30px;
    height: 40px;
    width: 500px;
    margin-left: 120px;
    font-size: 15px;
    background-color: rgb(0, 255, 0);
    color: black;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.p2{
    text-align: center;
    margin-top: 5px;
    color:grey;
}

.span{
    color: rgb(1, 118, 190);
    cursor: pointer;
}

.main{
    background-color: black;
    /* background-image: url('../images/budget9.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh; */
}