.nav {
    background-color: #1A1A1A;
}

.h1 {
    font-size: 40px;
    margin-left: 20px;
    color: white;

}

.navbox {
    height: 60px;
    width: 100%;
    align-items: center;
    display: flex;
    
}

.list {
    display: flex;
    gap: 0 px;
    font-size: 17px;
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: 20px;
    color: white;
}

.li {
    height: 50px;
    width: 125px;
    border-radius: 50px;
    padding: 5px;
    transition: background-color 0.5s, color 0.3s;
}

.li:hover,
.list2:hover,
.list3:hover {
    /* color: rgb(0, 255, 0); */
    color: #FF4081;
    cursor: pointer;
}

.list2,.list3 {
    line-height: 50px;
    height: 50px;
    width: 125px;
    border-radius: 50px;
    padding: 5px;
    transition: background-color 0.5s, color 0.3s;
    position: relative;
    font-family: 'Poppins', sans-serif;

}

.list3{
    margin-left: 250px;
}

/* Dropdown styles */
.dropdown {
    width: 200px;
    position: absolute;
    top: 60px; /* Position below the "Services" item */
    left: 0;
    margin-left: -40px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    display: none; /* Hide dropdown by default */
    
}

/* Show dropdown on hover */
.list2:hover .dropdown {
    display: block;
}

.dropdown li {
    list-style-type: none;
    padding: 5px 0;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50px;
    width: 200px;

}

.dropdown li:hover {
    /* color: rgb(0, 255, 0); */
    color: rgb(4, 189, 251);
    cursor: pointer;
    width: 200px;
}