footer {
  margin-top: 30px;
  background-color: rgb(30 31 54 / var(--tw-bg-opacity, 1));
  color: blue;
    padding: 4px;
    text-align: center;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px; */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
}

.footer-links {
    list-style: none;
    padding: 10px;
    
}

.footer-links li {
    margin: 5 15px;
    
}

ul li{
    margin-bottom: 5px;
    text-align: left;
    
}

.footer-links a {
    color: rgb(167, 167, 167); 
    text-decoration: none;
}

.footer-links a:hover {
    color:rgb(222, 157, 244);
}

.social-media {
    margin-top: 10px;
}

.quick-links{
    flex:3;
}

.social-media a {
    color: #FF6F61; 
    margin: 0 10px;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

h3,a,p{
    font-family:'Poppins', sans-serif;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(30 31 54 / var(--tw-bg-opacity, 1));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }

  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #ea72a8;
    transition-duration: .3s;
  }

  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #1ea595;
    transition-duration: .3s;
  }

  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }

  .socialSvg {
    width: 17px;
  }

  .company h3{
    font-size: 40px;
  }

  .socialSvg path {
    fill: rgb(223, 221, 233);
  }

  .footer-links{
    display:flex;
    gap:10px;
    margin-left: 5px;
  }

  .left{
    flex:1;
    
  }

  .right{
    flex:2;
    margin-left: 40px;
  }

  .website{
    flex:2;
    margin-left: 40px;
  }

  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }

  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
}