.mainbox {
    padding: 20px;
  }
  
  .navbar {
    background-color: white;
    border: 0px solid black;
    height: 100px;
    width: auto;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
  }

  .li1{
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;

  }



  